.programs-container {
    position: relative;
    width: 90%;
    margin: 80px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.programs {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.program {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
    position: relative;
}

.program img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Navigation buttons */
.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .program {
        flex: 0 0 calc(100% / 2); /* Show 2 slides on smaller screens */
    }
}

@media (max-width: 500px) {
    .program {
        flex: 0 0 100%; /* Show 1 slide on mobile screens */
    }
}
